body{
  margin: 0;
  background-color: rgb(204, 199, 199);
  font-family: Abel,"Lucida Sans Unicode","Lucida Grande",Tahoma,Garuda,Verdana,sans-serif;
}
header{
  width: 100%;
  background-color: #5491c8;
  text-align: center;
  height: 50px;
}
header h2 {
  padding-top: 10px;
  margin: 0;
  color: white;
}
header span {
  color: #b9ecb5;
}
.container{
  margin: 0 auto;
  background-color: white;
  width: 25%;
  min-height: 720px;
  margin-top: 1%;
  box-shadow: 0 15px 10px #777;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.unchecked{
  width: 100%;
  height: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.unchecked .title{
  font-size: 24px;
  color: #777;
  border-bottom: 3px solid #b9ecb5;
}
.checked{
  width: 100%;
  height: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.checked .title{
  font-size: 24px;
  color: #777;
  border-bottom: 3px solid #5491c8;
}
.list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.task{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #777;
  margin-bottom: 10px;
}
.task input[type=button]{
    margin-left: auto;
    border: none;
    background-color: transparent;
    outline: none;
}
.task input[type=button]:hover{
 color: red;
}
.edit {
  outline: none;
  border: none;
}
.task-checked .edit{
  text-decoration: line-through;
  color: green;
}
.count {
  font-size: 20px;
}
.empty{
  color: #777;
  text-align: center;
  border: 1px solid #777;
  padding: 10px;
  margin: 0;
  margin-bottom: 5px;
}
.add-task{
  display: flex;
}
.add-task-input{
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 10px;
  outline: none ;
}
.hidden{
  display: none;
}
#unchecked-progress {
  width: 100%;
  background-color: white;
  border: 1px solid #777;
  margin-bottom: 3%;
}
#unchecked-bar {
  width: 0%;
  max-width: 100%;
  height: 10px;
  background-color: #b9ecb5;
}
#checked-progress {
  width: 100%;
  background-color: white;
  border: 1px solid #777;
  margin-bottom: 3%;
}
#checked-bar {
  width: 0%;
  max-width: 100%;
  height: 10px;
  background-color: #5491c8;
}


/* Media for flexible  */
@media only screen and (max-width: 600px) {
  .container {
   width: 90%;
  }
}
@media (max-width: 1600px)and (min-width:600px) {
  .container {
   width: 30%;
  }
}
